.cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;
    color: #8330c2;
    contain: layout style size;
    transition: opacity 0.3s, color 0.4s;
    &::before {
        content: '';
        position: absolute;
        top: -24px;
        left: -24px;
        display: block;
        width: 48px;
        height: 48px;
        transform: scale(0.3);
        background: currentColor;
        border-radius: 50%;
        transition: opacity 0.1s, -webkit-transform 0.3s;
        transition: transform 0.3s, opacity 0.1s;
        transition: transform 0.3s, opacity 0.1s, -webkit-transform 0.3s, -moz-transform 0.3s,
            -o-transform 0.3s;
    }
}
