@use '../base/root';
.btn {
    position: relative;
    padding: 1em;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: color 200ms ease-out;
    background-color: transparent;
    &__fill {
        position: absolute;
        inset: 0;
        overflow: hidden;
        background-color: var(--brand);
        border-radius: inherit;
        & > .ripple {
            display: none;
            position: absolute;
            inset: -1px;
            background-color: #fff;
            border-radius: inherit;
            &.v1 {
                background-color: lighten($color: root.$brand, $amount: 5%);
            }
            &.v2 {
                background-color: lighten($color: root.$brand, $amount: 10%);
            }
        }
    }
    &__title {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &:hover {
        color: var(--brand);
    }
    &.brand {
        color: white;
        background-color: var(--brand);
        &:hover {
            color: rgb(238, 238, 238);
        }
    }
    &.white {
        background-color: white;
    }
    &.big {
        font-size: 2rem;
    }
}
