.what {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 0.8rem;
    min-height: 100vh;
    // min-width: 100vw;
    background-color: rgb(6, 6, 6);
    color: white;
    .h1-wrapper {
        margin-top: 2rem;
        font-size: 4rem;
        .sheesh {
            display: flex;
            gap: 4rem;
            .bg-thing {
                position: relative;
                color: rgb(6, 6, 6);
                &::before {
                    content: '';
                    position: absolute;
                    background-color: #7bf77b;
                    inset: 0;
                    /* padding: 0.5rem; */
                    height: 100%;
                    width: 100%;
                    z-index: -1;
                    border-radius: 102px;
                    transform: scale(1.2);
                }
            }
        }
    }
    .content-sheet {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 150vh;
        margin-top: 4rem;
        font-size: 2.5rem;
    }
}
