@tailwind base;
@tailwind components;
@tailwind utilities;

.scroller::-webkit-scrollbar {
    width: 10px;
    background-color: #121212;
}

.scroller::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #4c4c4c;
}
