.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-bottom: 1px solid #e0e0e0;
    .menu-wrapper {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        .menu {
            --opacity: 0;
            position: relative;
            width: 25px;
            height: 50%;
            display: flex;
            flex-direction: column;
            gap: 0.32rem;
            cursor: pointer;
            .bar {
                height: 2px;
                width: 100%;
                background-color: rgb(73, 73, 73);
            }
            //prolly need a before element eh idk man im kinda stupid
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                padding: 1.5rem;
                aspect-ratio: 1 / 1;
                background-color: #e0e0e0;
                border-radius: 999px;
                opacity: var(--opacity);
                transition: opacity 120ms ease-in;
                z-index: -1;
            }
            &:hover {
                --opacity: 1;
            }
        }
    }

    .items {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        .thingy {
            position: relative;
            padding: 1rem;
            cursor: pointer;
            transition: background-color 120ms ease-in;
            &:hover {
                background-color: #e0e0e0;
            }
            &.selected::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 5px;
                width: 100%;
                background-color: rgb(86, 86, 255);
                border-radius: 10px 10px 0 0;
            }
        }
    }
}
