.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-bottom: 1px solid var(--border-color);
    .menu-button-wrapper {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        .current-class {
            color: var(--text-normal);
            .idk {
                color: var(--text-muted);
            }
            text-decoration: none;
            &:hover {
                color: rgb(86, 86, 255);
                .idk {
                    color: var(--text-muted);
                }
                text-decoration: underline;
            }
        }
        .menu-button {
            --opacity: 0;
            position: relative;
            background-color: transparent;
            border: none;
            width: 40px;
            height: 50%;
            display: flex;
            flex-direction: column;
            gap: 0.32rem;
            cursor: pointer;
            .bar {
                height: 2px;
                width: 100%;
                background-color: rgb(73, 73, 73);
            }
            //prolly need a before element eh idk man im kinda stupid
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                padding: 1.5rem;
                aspect-ratio: 1 / 1;
                background-color: var(--border-color);
                border-radius: 999px;
                opacity: var(--opacity);
                transition: opacity 120ms ease-in;
                z-index: -1;
            }
            &:hover {
                --opacity: 1;
            }
        }
    }

    .items {
        --width: 0;
        --index: 0;
        position: relative;
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        transition: transform 200ms ease-in;

        .thingy {
            position: relative;
            padding: 1.5rem 1rem;
            cursor: pointer;
            transition: background-color 120ms ease-in;
            &:hover {
                background-color: var(--border-color);
            }
            &.selected:hover {
                background-color: rgba(86, 86, 255, 0.2);
            }
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 5px;
            width: var(--width);
            background-color: rgb(86, 86, 255);
            border-radius: 10px 10px 0 0;
            transform: translateX(var(--offset));
            transition: all 250ms cubic-bezier(1, 0.1, 0.45, 0.92);
        }
    }

    .user {
        .user-icon {
            border-radius: 50%;
            cursor: pointer;
        }
    }
}
