@use '../base/root';
$radius: 5rem;
$sidebarWidth: 35vmin;
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border-right: 1px solid var(--border-color);
    box-shadow: 4px 0px 20px #8d8d8d63;
    width: $sidebarWidth;
    transform: translateX(calc($sidebarWidth * -1));
    min-height: 100vh;
    transition: transform 200ms ease;
    &.opened {
        transform: translateX(0);
        .bruh {
            position: fixed;
            height: 100vh;
            width: calc(100vw - $sidebarWidth);
            transform: translateX($sidebarWidth);
            inset: 0;
        }
    }
    .side-items {
        margin: 0;
        padding: 0.4rem 0.6rem 0rem 0rem;
        list-style: none;
        .subheading {
            font-size: 0.95rem;
            font-weight: 600;
            color: var(--text-muted);
            margin-left: 1.2rem;
        }
        .item {
            display: flex;
            gap: 1rem;
            padding: 1rem 2rem;
            border-radius: 0 $radius $radius 0;
            cursor: pointer;
            &.selected {
                background-color: var(--border-color);
            }
            &:hover {
                background-color: lighten($color: root.$border-color, $amount: 5%);
            }
            .icon-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 2rem;
                width: 2rem;
                .thing {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 2rem;
                    width: 2rem;
                    background-color: #2a2a90;
                    color: white;
                    border-radius: 50%;
                }
            }
        }
    }
}
